<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head(title='Password Reset')"></head>
<body>
<main class="container d-flex flex-column align-items-center justify-content-center mt-5">
    <h1 class="mb-4">Password Reset</h1>
    <form action="#" class="row g-3" method="post" th:action="@{/users/password-reset}"
          th:object="${createPasswordResetTokenDto}">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <div class="col-12">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" id="email" name="email"
                   th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                   th:field="*{email}"
                   type="email"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}"
                 th:text="${#fields.errors('email').getFirst()}"></div>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <a class="btn btn-secondary me-1" th:href="@{/users/login}">Login</a>
            <button class="btn btn-primary" type="submit">Reset</button>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></div>
        <div class="alert alert-success" role="alert" th:if="${success}" th:text="${success}"></div>
    </form>
</main>
<th:block th:replace="fragments/layout.html :: scripts"></th:block>
</body>
</html>
