<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Notes Secure App | Share Note</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/quill.snow.css}" type="text/css"/>
</head>
<body>
<nav class="navbar bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" th:href="@{/notes}">Notes Secure App</a>
        <form action="#" method="post" th:action="@{/users/logout}">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <button class="btn btn-secondary" type="submit">Logout</button>
        </form>
    </div>
</nav>
<main class="container mt-5">
    <h1 class="mb-4">Share Note</h1>
    <form action="#" class="row g-3" id="resource-form" method="post" th:action="@{/notes/share/{id}(id=${noteId})}"
          th:object="${shareNoteDto}">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <div class="col-12 form-check" th:each="user: ${users}">
            <input class="form-check-input" name="usernames"
                   th:checked="${shareNoteDto.usernames().contains(user.username())}"
                   th:field="*{usernames}"
                   th:id="${'usernames_' + user.username()}"
                   th:value="${user.username}"
                   type="checkbox"/>
            <label class="form-check-label" th:for="${'usernames_' + user.username()}"
                   th:text="${user.username}"></label>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <a class="btn btn-secondary me-1" th:href="@{/notes}">Cancel</a>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></div>
    </form>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
<script th:src="@{/js/quill.min.js}" type="text/javascript"></script>
<script th:src="@{/js/app.js}" type="text/javascript"></script>
</body>
</html>
