<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head(title='Share Note')"></head>
<body>
<nav th:replace="fragments/layout.html :: nav"></nav>
<main class="container mt-5">
    <h1 class="mb-4">Share Note</h1>
    <form action="#" class="row g-3" id="resource-form" method="post" th:action="@{/notes/share/{id}(id=${noteId})}"
          th:object="${shareNoteDto}">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <div class="col-12 form-check" th:each="user: ${users}">
            <input class="form-check-input" name="usernames"
                   th:checked="${shareNoteDto.usernames().contains(user.username())}"
                   th:field="*{usernames}"
                   th:id="${'usernames_' + user.username()}"
                   th:value="${user.username}"
                   type="checkbox"/>
            <label class="form-check-label" th:for="${'usernames_' + user.username()}"
                   th:text="${user.username}"></label>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <a class="btn btn-secondary me-1" th:href="@{/notes}">Cancel</a>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></div>
    </form>
</main>
<th:block th:replace="fragments/layout.html :: scripts"></th:block>
<script th:src="@{/js/note-editor.js}" type="text/javascript"></script>
</body>
</html>
